@font-face {
    font-family: "SFB";
    src: url(/website/fonts/SFPRODISPLAYBOLD.OTF);
}
@font-face {
    font-family: "SF";
    src: url(/website/fonts/SFProText-Medium.ttf);
}
@font-face {
    font-family: "SFC";
    src: url(/website/fonts/SFPRODISPLAYREGULAR.OTF);
}

h1 {
    font-family:"SFB";
    }
h2 {
    font-family:"SFC";
}
p {
    font-family:"SF";
    letter-spacing: -1px;
}
nav a {
    font-family:"SF";
    letter-spacing: -0.5px;
    text-decoration: none;
    transition: all .2s ease-in-out;
    color:white;
}
nav a:hover {
    color:rgb(163, 163, 163);
    cursor:pointer;
}
nav a:active {
    color:rgb(88, 88, 88);
    cursor:pointer;
  }
nav a:visited {
    color:white;
}
nav a:visited:hover {
    color:rgb(163, 163, 163);
}
:root {
  color-scheme: dark;
}

body {
    background-color:#121212;
    color:#ECEDEE;
    font-family:"SF";
    margin:0;
    padding:0;
    color-scheme: dark;
}
nav {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: saturate(180%) blur(10px);
    margin: 0;
    padding:8px;
    top:0;
    overflow: hidden;
    position: fixed;
    width:100%;
    height:76px;
    vertical-align: middle;
    z-index:1;
}
nav .id{
    margin-top:21px;margin-left:10px;
    font-size:30px;
    float:left;
}
.content {
    float: left;
    margin-top:12px;
}
.banner {
    background-image:url(/website/resources/mc2.png);
    padding:15px;
    height:680px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.rightboi {
    float:right;
    margin-left:25px;
    font-size:18px;
    margin-top:28px;
}
.rightboil {
    float:right;
    margin-left:25px;
    margin-right:50px;
    font-size:18px;
    margin-top:18px;
    padding: 10px;
    background-color: #4756df;
    color: white;
    border-radius: 15px;
    width: 80px;
    text-align: center;
    margin-left: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.rightboil:hover {
    transform: scale(1.1); 
    color:white;
    cursor:pointer;
}

.rightboil:visited:hover {
    transform: scale(1.1); 
    color:white;
    cursor:pointer;
}

.rightboi:visited:active {
    color:rgb(88, 88, 88);
    cursor:pointer;
}
.download {
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 0px 0px 8px);
    width:300px;
    height:70px;
    border-radius:15px;
    background-color: #0072f5;
    border:none;
    color:white;
    font-family: "SF";
    font-size:18px;
    letter-spacing: -1px;
    cursor:pointer;
    transition: all .2s ease-in-out;
    margin-top:30px;
}
.download:hover {
    transform: scale(1.05); 
    color:white;
    cursor:pointer;
}
.screen {
    padding:10px;
    height:fit-content;
}

.about {
  padding:10px;
  height:fit-content;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top:90px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.footer {
  width:98.709%;
  height:110px;
  padding:10px;
  margin-top:100px;
  position:relative;
}
.ban {
  background-color: #16181a;
  border-radius:15px;
  width:800px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding:5px;
  height:80px;
  display:block;
  cursor:pointer;
}
.ban10 {
  background-color: #16181a;
  border-radius:15px;
  width:800px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding:5px;
  height:180px;
  display:none;
}
.alt {
  padding:0px;
  padding-right:0px;
  width:100%;
  height:200px;
  position:relative;
}
.sup {
  font-size:50px;margin-left:80px;margin-top:120px;margin-top:20px;
}
.alt1 {
  padding:0px;
  padding-right:0px;
  width:100%;
  height:200px;
  position:relative;
}
.first {
  text-align: left;
  width:1000px;
}
.break {
  margin-top:10px;
  display: block;
  height: 1px;
  border: 0;
  width:1000px;
  border-top: 1px solid #303030;
  margin: 1em 0;
  padding: 0;
}
.con {
  margin-left:30px;
}
.oops {
  padding:10px;
  height:fit-content;
}
#cen {
  font-size:50px;margin-left:40px;margin-top:40px;
}
#metoo{
  margin-left:40px;margin-top:10px;font-size:20px;
}
.down {
  font-size:50px;margin-left:80px;margin-top:120px;
}
#bars {
  display:none;
}
.menu {
  background-color:#070707;
  margin: 0;
  padding:8px;
  margin-top:92.35px;
  position:fixed;
  width:100%;
  height:246px;
  vertical-align: middle;
  z-index:1;
  text-align:center;
  display: none;
  animation: fadeInAnimation ease 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeOutAnimation {
  100% {
      opacity: 1;
  }
  0% {
      opacity: 0;
  }
}
.menu a {
  font-family:"SF";
  letter-spacing: -0.5px;
  text-decoration: none;
  transition: all .2s ease-in-out;
  color:white;
}
.menu a:hover {
  color:rgb(163, 163, 163);
  cursor:pointer;
}
.menu a:active {
  color:rgb(88, 88, 88);
  cursor:pointer;
}
.menu a:visited {
  color:white;
}
.menu a:visited:hover {
  color:rgb(163, 163, 163);
}
.boi {
    font-size:28px;
    margin-top:28px;

}
.boil{
  padding: 15px;
  background-color: #4756df;
  color: white;
  border-radius: 15px;
  width: 100px;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size:28px;
  margin-top:58px;
}
.boil:hover {
  transform: scale(1.1); 
  color:white;
  cursor:pointer;
}

.boil:visited:hover {
  transform: scale(1.1); 
  color:white;
  cursor:pointer;
}

.boi:visited:active {
  color:rgb(88, 88, 88);
  cursor:pointer;
}
.menu ul {
  list-style-type: none;
  margin:0;
  padding:0;
}
.menu ul li {
  margin-top:20px;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
.oopsies {
  background-color: #16181a;
  border-radius:15px;
  padding:5px;
  height:300px;
  font-size:20px;
  width:90%;
  display:none;
}
@media screen and (max-width: 800px) {
  .rightboil {
    display:none;
  }
  .rightboi {
    display:none;
  }
  #killme {
    display:none;
  }
  #idiot {
    display:none;
  }
  #cen {
    text-align:center;
    margin-left:0px;
  }
  #metoo {
    margin-left:10px;
  }
  .footer {
    left: 0;
    box-sizing:border-box;
    bottom: 0;
    color: white;
    text-align: center;
    margin-top:15px;
    height:130px;
  }
  #bars {
    margin-left:82%;
    margin-top:22px;
    display:block;
  }
  .ban{
    display:none;
  }
  .ban10{
    display:none;
  }
  #ban {
    display:none;
  }
  .down {
    margin-left:0px;
    text-align:center;
  }
  .oopsies {
    display:block;
  }
  .alt {
    display: none;
  }
  .break {
    width:95%;
  }
  .con {
    width:95%;
  }
  .first {
    width:95%;
  }
  .sup {
    text-align: center;
    margin-left:0px;
  }
}
